<div class="text-center">
  <div id="addbutton">
    <a class="btn-friend-song" href="javascript:(function(){var%20url=encodeURIComponent(window.location.href);window.open('http://localhost:3000/api?url='+url,%C2%A0'Vibe%20In',%C2%A0'menubar=no,%20status=no,%20scrollbars=no,%20menubar=no,%20width=630,%20height=290');})()">J'AIME CE MORCEAU</a>
  </div>
</div>


<div class="share-area">
  <div class="row">
    <div class="col-xs-12">
      <div class="col-xs-9">
        <h3 class="share-text-h3">
          SOUTENEZ-NOUS EN PARTAGEANT
        </h3>
      </div>

      <div class="col-xs-3">
        <div class="text-center fb-like">
          <div class="fb-like" data-href="http://vibein.herokuapp.com/sources/<%= @source.id %>/public" data-width="400" data-layout="button" data-action="like" data-show-faces="false" data-share="true">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="share-area">
  <div class="row">
    <div class="col-xs-12">
      <h4 class="text-center share-text-h4">
        Pour profiter d'internet sans publicité, installer <a href="https://adblockplus.org/">Adblock Plus</a>.</br>
        Et pour sauvegarder vos morceaux préférés rapidement, installer notre <%= link_to "Extension", bookmarklets_path %></a>.
      </h4>
    </div>
  </div>
</div>

