<ul class="list-inline list-unstyle">
  <% music.categorizations.each do |categorization|%>
    <li>
      <%= link_to categorization.category.title[0].upcase, categorization_path(categorization, music_id: music.id), method: :delete, remote: true, :class => "btn btn-category color-#{categorization.category.thumbnail}" %>
    </li>
  <% end %>
</ul>