<ul class="list-inline list-unstyle">
  <% music.categorizations.each do |categorization|%>
    <li>
    <%= link_to categorization.category.title, category_sources_path(categorization.category.id), :class => "btn-music-category color-#{categorization.category.thumbnail}" %>
    </li>
  <% end %>
</ul>