<ul class="list-inline list-unstyle">
  <% music.categorizations.each do |categorization|%>
    <li>
      <%= categorization.category.title %>
      <%= link_to categorization_path(categorization, music_id: music.id), method: :delete, remote: true do %>
        <i class="fa fa-times"></i>
      <% end %>
    </li>
  <% end %>
</ul>