<nav class="navbar navbar-categories" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <a class="navbar-brand" data-toggle="modal" data-target="#myModalPlaylist">Manage playlist</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <% if params[:category_id] != nil %>
          <li><%= link_to 'View all', sources_path %></li>
        <% end %>
        <% current_user.categories.each do |category| %>
        <% if params[:category_id].to_i == category.id %>
          <li class="active">
            <%= link_to category.title, category_sources_path(category.id) %>
          </li>
        <% else %>
          <li>
            <%= link_to category.title, category_sources_path(category.id) %>
          </li>
        <% end %>
        <% end %>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Trier par <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="#">Date</a></li>
            <li><a href="#">Popularité</a></li>
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>