<%= render partial: "sources/navbar" %>

<div class="bg-grey">

  <div class="vertical-spacer"></div>

  <div class="container">
    <div class="music-table">

      <% if @musics.length == 0 %>
        <%= render partial: "music_start" %>
      <% else %>
        <div class="ressources">
          <%= render partial: "music_container" %>
        </div>
      <% end %>

    </div>
  </div>
</div>