# This config file will make sure Sidekiq is restarted after 
# each code deploy. 
# Credits to: https://gist.github.com/deependersingla/c23483fc11c7f3ed4478
files:
  "/opt/elasticbeanstalk/hooks/appdeploy/post/50_restart_sidekiq.sh":
    mode: "000755"
    content: |
      #!/bin/bash
 
      source /opt/elasticbeanstalk/containerfiles/envvars
      source $EB_ROOT/containerfiles/scripts/use-app-ruby.sh
 
      PIDFILE=$EB_CONFIG_APP_PIDS/sidekiq.pid
 
      cd $EB_CONFIG_APP_CURRENT
 
      if [ -f $PIDFILE ]
      then
        SIDEKIQ_LIVES=$(/bin/ps -o pid= -p `cat $PIDFILE`)
          if [ -z $SIDEKIQ_LIVES ]
          then
             rm -rf $PIDFILE
          else
             kill -9 `cat $PIDFILE`
             rm -rf $PIDFILE
          fi
      fi
 
       bundle exec sidekiq \
        -e production \
        -P /var/app/containerfiles/pids/sidekiq.pid \
        -C /var/app/current/config/sidekiq.yml \
        -L /var/app/containerfiles/logs/sidekiq.log \
        -d
        
  "/opt/elasticbeanstalk/hooks/appdeploy/pre/03_mute_sidekiq.sh":
    mode: "000755"
    content: |
      #!/bin/bash
 
      source /opt/elasticbeanstalk/containerfiles/envvars
      source $EB_ROOT/containerfiles/scripts/use-app-ruby.sh
 
      PIDFILE=$EB_CONFIG_APP_PIDS/sidekiq.pid
 
      if [ -f $PIDFILE ]
      then
        SIDEKIQ_LIVES=$(/bin/ps -o pid= -p `cat $PIDFILE`)
          if [ -z $SIDEKIQ_LIVES ]
          then
             rm -rf $PIDFILE
          else
             kill -USR1 `cat $PIDFILE`
             sleep 10
          fi
      fi