<%= render partial: "sources/navbar" %>

<div class="bg-grey">

  <div class="vertical-spacer"></div>

  <div class="container">
    <div class="music-table">

      <%= render partial: "friendmusics/music_container" %>

    </div>
  </div>
</div>
