<div class="row">
  <div class="col-sm-offset-1 col-sm-10 col-lg-offset-2 col-lg-8">
    <h3 class="text-center title-start">Enregistrez n'importe quelle musique depuis YouTube ou Soundcloud en cliquant sur le bouton +Vibe In.</h3>
  </div>
</div>

<div class="row">
  <div class="col-xs-3 col-sm-offset-2 col-sm-2 col-md-offset-0 col-md-1 col-lg-offset-1 col-lg-1">
    <%= image_tag "arrow-original.png", :class => "arrow-start" %>
  </div>
  <div class="col-xs-4 col-sm-6 col-md-5 col-lg-4">
      <%= image_tag "extension-original.png", :width => "200" %>
      <h4 class="extension-start">Pour utiliser Vibe In, <b>faites glisser le bouton +Vibe In</b> dans votre barre de favoris.</h4>
      <a class="btn btn-extension text-center" href="javascript:(function(){var%20url=encodeURIComponent(window.location.href);window.open('http://vibein.herokuapp.com/api?url='+url,%C2%A0'Vibe%20In',%C2%A0'menubar=no,%20status=no,%20scrollbars=no,%20menubar=no,%20width=630,%20height=290');})()">+Vibe In</a>
  </div>

  <div class="col-md-5 col-lg-5 hidden-xs hidden-sm">
    <div class="text-center">
      <%= image_tag "extension.gif", :class => "photo-gif" %>
    </div>
  </div>
</div>

<div class="four-steps hidden-xs hidden-sm">
  <div class="row">
    <div class="col-md-12">
      <div class="text-center">
        <div class="col-md-3">
          <div class="title-steps"><p>Etape 1</p></div>
          <div class="text-steps hidden-lg"><p>Installer l'extension +Vibe In</p></div>
          <div class="text-steps hidden-md"><p>Installer l'extension +Vibe In dans votre barre de favoris</p></div>
        </div>

        <div class="col-md-3">
          <div class="title-steps"><p>Etape 2</p></div>
          <div class="text-steps"><p>Naviguer sur Youtube ou Soudcloud</p></div>
        </div>

        <div class="col-md-3">
          <div class="title-steps"><p>Etape 3</p></div>
          <div class="text-steps hidden-lg"><p>Sauvegarder les meilleurs morceaux</p></div>
          <div class="text-steps hidden-md"><p>Sauvegarder les meilleurs morceaux et classer les grâce aux playlits</p></div>
        </div>

        <div class="col-md-3">
          <div class="title-steps"><p>Etape 4</p></div>
          <div class="text-steps hidden-lg"><p>Partager les avec vos amis</p></div>
          <div class="text-steps hidden-md"><p>Partager et découvrer des morceaux avec vos amis</p></div>
        </div>
      </div>
    </div>
  </div>
</div>
