<%= render partial: "sources/navbar" %>

<div class="bg-grey">

  <div class="vertical-spacer"></div>

  <div class="container">
    <%= render partial: "bookmarklets/instructions" %>
  </div>

</div>