// Place all the styles related to the api controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.api-title {
  margin-bottom: 2px;
  font-size: 18px;
  color: #6F676C;
}
.api-title:hover {
  color: #454043;
}

.api-time {
  font-size: 14px;
  font-weight: lighter;
}

.api-success {
  font-size: 18px;
  font-weight: lighter;
  color: rgb(252, 98, 34);
}

.api-success > span {
  font-weight: normal;
}

.fb-api {
  margin: 60px 0 0 50px;
}