/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_self
 *= require api
 *= require bookmarklets
 *= require categories
 *= require categorizations
 *= require modal
 *= require musics
 *= require navbar
 *= require public
 *= require sources
 *= require welcome
 */

@import "bootstrap-sprockets";
@import "bootstrap";

.vertical-spacer{
  height: 6.5em;
}
.high-vertical-spacer{
  height: 8em;
}
.bg-grey {
  min-height: 100%;
  margin-top: 20px;
  background-color: #F8F8F8;
}