// Place all the styles related to the friends controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.friend-box {
  margin-top: 10px;
  padding: 10px 10px;
  background-color: rgba(255, 255, 255, 0.7);
  border: 0.5px solid rgba(230, 230, 230, 0.5);
  box-shadow: 1px 1px 10px #E6E6E6;
}
.photo-fb{
  border-radius: 5px;
}
.name-fb {
  font-family: 'Quicksans', sans-serif;
  font-size: 18px;
  line-height: 25px;
  margin-left: 5px;
  color: #6F676C;
}
.name-fb:hover {
  color: #454043;
}