// Place all the styles related to the friends controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.bg-friends {
  position: fixed;
  height: 100%;
  min-width: 100%;
  z-index: -999;
  opacity: 0.2;
  margin-top:20px;
}
.friend-box {
  margin-top: 10px;
  padding: 10px 10px;
  background-color: rgba(255, 255, 255, 0.7);
  border: 0.5px solid rgba(230, 230, 230, 0.5);
  box-shadow: 1px 1px 10px #E6E6E6;
}
.friend-infos {
  margin-bottom: 10px;
}
.btn-friendmusics-all {
  margin-bottom: 5px;
  border-color: rgb(252, 98, 34);
  background-color: rgba(255, 255, 255, 0.5);
}
.photo-fb{
  border-radius: 50%;
}
.name-fb {
  font-family: 'Open-sans', sans-serif;
  font-size: 16px;
  font-weight: 400;
  margin-left: 5px;
}