// Place all the styles related to the friendmusics controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.btn-friend-song {
  position: relative;
  color: #757575;
  font-size: 1.5em;
  text-transform: uppercase;
  display: block;
  font-weight: bold;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  transition: background-color 0.3s ease 0s;
}
.btn-friend-song:hover {
  color: rgb(252, 98, 34);
}
