// Place all the styles related to the friendmusics controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.btn-friend-song {
  margin-top: 10px;
  background-color: #FFF;
  border-color: rgb(252, 98, 34);
}

.share-text-top {
  padding-top: 15px;
}