.search-navbar {
  border-radius: 20px;
  outline: none;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;
  border: 0.5px solid rgb(252, 98, 34);
}

.btn-search {
  border: none;
  font-size: 18px;
  color: rgb(252, 98, 34);
  margin-left: -3px;
  margin-right: 10px;
}

.btn-add {
  border: none;
  font-size: 20px;
  color: rgb(252, 98, 34);
  margin-top: 8px;
}

.inherit {
  position: inherit;
}

.welcome-name {
  color: rgb(252, 98, 34);
  padding-top: 15px;
  padding-right: 15px;
}

.welcome-photo {
  width: 40px;
  margin-top: 5px;
  margin-right: 15px;
  border-radius: 50%;
}

.navbar-name {
  color: #fc6122;
}

.disconnect {
  padding-top: 3px;
}

.navbar-default .navbar-nav > li > a {
  color: #e6e6e6;
}




.navbar-default {
  background-color: #ffffff;
  border-color: #fc6122;
}
.navbar-default .navbar-brand {
  color: #fc6122;
}
.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
  color: #fc6122;
}
.navbar-default .navbar-text {
  color: #fc6122;
}
.navbar-default .navbar-nav > li > a {
  color: #777783;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
  color: #fc6122;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
  color: #fc6122;
  font-weight: bold;
  background-color: #fff;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
  color: #fc6122;
  font-weight: bold;
  background-color: #fff;
}
.navbar-default .navbar-toggle {
  border-color: #e6e6e6;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
  background-color: #e6e6e6;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #fc6122;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #fc6122;
}
.navbar-default .navbar-link {
  color: #fc6122;
}
.navbar-default .navbar-link:hover {
  color: #fc6122;
}

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #fc6122;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #fc6122;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #fc6122;
    font-weight: bold;
    background-color: #fff;
  }
}


.navbar-categories {
  background-color: #2a6496;
  border-color: #2a6496;
}
.navbar-categories .navbar-brand {
  color: #ecf0f1;
}
.navbar-categories .navbar-brand:hover, .navbar-categories .navbar-brand:focus {
  color: #fc6122;
}
.navbar-categories .navbar-text {
  color: #ecf0f1;
}
.navbar-categories .navbar-nav > li > a {
  color: #ecf0f1;
}
.navbar-categories .navbar-nav > li > a:hover, .navbar-categories .navbar-nav > li > a:focus {
  color: #fc6122;
  background-color: #2a6496;
}
.navbar-categories .navbar-nav > .active > a, .navbar-categories .navbar-nav > .active > a:hover, .navbar-categories .navbar-nav > .active > a:focus {
  color: #fc6122;
  background-color: #2a6496;
}
.navbar-categories .navbar-nav > .open > a, .navbar-categories .navbar-nav > .open > a:hover, .navbar-categories .navbar-nav > .open > a:focus {
  color: #fc6122;
  background-color: #2a6496;
}
.navbar-categories .navbar-toggle {
  border-color: #2a6496;
}
.navbar-categories .navbar-toggle:hover, .navbar-categories .navbar-toggle:focus {
  background-color: #2a6496;
}
.navbar-categories .navbar-toggle .icon-bar {
  background-color: #ecf0f1;
}
.navbar-categories .navbar-collapse,
.navbar-categories .navbar-form {
  border-color: #ecf0f1;
}
.navbar-categories .navbar-link {
  color: #ecf0f1;
}
.navbar-categories .navbar-link:hover {
  color: #fc6122;
}

@media (max-width: 767px) {
  .navbar-categories
 .navbar-nav .open .dropdown-menu > li > a {
    color: #ecf0f1;
  }
  .navbar-categories
 .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-categories
 .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #fc6122;
  }
  .navbar-categories
 .navbar-nav .open .dropdown-menu > .active > a, .navbar-categories
 .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar-categories
 .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #fc6122;
    background-color: #2a6496;
  }
}
