// Place all the styles related to the sources controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* Index */

.music-box {
  background-color: #FFF;
  border: 0.5px solid rgba(230, 230, 230, 0.5);
  box-shadow: 1px 1px 10px #E6E6E6;
  padding: 5px 5px;
  margin: 0px -10px 5px -10px;
}

.music-table {
  padding: 10px 5px;
  min-height: 600px;
}

.btn-create-playlist {
  float: left;
  margin-top: 8px;
  margin-left: 30px;
  background-color: rgb(252,98,34);
  border-radius: 3px;
  color: #FFF;
}

.btn-view-all {
  float: left;
  margin-top: 8px;
  margin-left: 25px;
  margin-right: 20px;
  background-color: #FFF;
  border-color: rgb(252,98,34);
  border-radius: 3px;
  color: #000;
}

.btn-category {
  margin-top: 5px;
  margin-right: 10px;
  border-radius: 3px;
  color: #FFF;
}

.delete-category {
  padding-top: 5px;
  margin-right: 15px;
  color: #E6E6E6;
}

.delete-song {
  margin-left: 10px;
  font-size: 16px;
  color: #E6E6E6;
}

.delete-song:hover {
  color: #FF3F3A;
}

.music-image {
  border-radius: 3px;
  margin-bottom: 7px;
}

.btn-music-category {
  padding: 2px 5px;
  color: #FFF;
  border-radius: 2px;
}

.music-title {
  color: #6F676C;
}
.music-title:hover {
  color: #454043;
}
.music-table h3 {
  margin-top: 10px;
  font-size: 18px;
}

.music-table h4 {
  font-size: 14px;
  font-weight: lighter;
}

.btn-add-playlist {
  background-color: #FFF;
  border: none;
  color: rgb(252,98,34);
  font-size: 18px;
}

.music-title {
  margin-bottom: 2px;
}

.delete {
  color: red;
}

.display-none {
  display: none;
}

.btn-loading{
  margin: 5px -20px 0;
  padding: 10px 0 25px;
  background-color: #FFF;
  color: #BFBFBF;
  font-family: inherit;
  font-size: 24px;
  font-weight: bold;
  border-radius: 2px;
}

/* Modal */

.color-selector {
  height: 3px;
  width: 500px;
}

.color-1DD2AF {
  background-color: #1DD2AF;
}

.color-2BBE68 {
  background-color: #2BBE68;
}

.color-2E8DCC {
  background-color: #2E8DCC;
}

.color-F1C40F {
  background-color: #F1C40F;
}

.color-EA6153 {
  background-color: #EA6153;
}


/* Show */

.player {
  padding-top: 5em;
}

.hr-share-area {
  margin: 0;
  color: #EDEDED;
}

#addbutton {
  margin-top: 15px;
  margin-bottom: 5px;
}
#addbutton:hover {
  background-color: #FFF;
  border-radius: 5px;
  border: 0.5px solid rgba(230, 230, 230, 0.8);
}

.share-area {
  margin-top: 5px;
  background-color: #FFF;
  border: 1px solid #EDEDED;
  border-radius: 5px;
}
.share-area-classic {
  margin-top: 20px;
  background-color: #FFF;
  border: 1px solid #EDEDED;
  border-radius: 5px;
}


.share-text-h2 {
  padding-bottom: 10px;
  font-size: 18px;
  text-shadow: 1px 1px 1px rgba(230, 230, 230, 0.6);
  line-height: 1.0;
}
.share-text-h3 {
  font-size: 16px;
  margin: 15px 0 15px 20px;
  color: #757575;
  font-weight: bolder;
}
.share-text-h4 {
  font-size: 12px;
  color: #CDCDCD;
}

.fb-like {
  margin-top: 7px;
}

.music-aside {
  margin-top: 5em;
  margin-left: -10px;
  background-color: #FFF;
  border: 0.5px solid rgba(230, 230, 230, 0.8);
  box-shadow: 2px 2px 10px #E6E6E6;
}

.presentation-actual {
  margin-right: 15px;
  margin-left: 15px;
  background-color: #D79D23;
  padding: 3px;
}
.presentation-actual h3 {
  margin-top: 10px;
  color: #FFF;
  font-size: 14px;
  font-weight: bold;

}
.music-actual {
  padding-top: 15px;
}
.separation {
  clear: both;
}
.separation hr {
  border: 2px solid #F6F6F6;
  margin: 0 15px 5px;
}

.music-list {
  overflow: scroll;
  height: 430px;
}

.music-list img, .music-actual img {
  float: left;
  border-radius: 3px;
  margin-bottom: 10px;
  margin-left: 10px;
}


.music-list h3, .music-actual h3 {
  margin-top: 10px;
  font-size: 14px;
}
.music-list a, .music-actual a {
  color: #6F676C;
}
.music-list a:hover, .music-actual a:hover {
  color: #454043;
}
.music-list h4, .music-actual h4 {
  font-size: 12px;
  font-weight: lighter;
}

.aside-pagination {
  cursor: default;
}
.aside-pagination a, .aside-pagination span, .aside-pagination em {
  padding: 0.2em 0.5em;
  display: block;
  float: left;
  margin-right: 1px;
  margin-left: 5px;
  border: 2px solid #949494;
}
.aside-pagination .disabled {
  border: 2px solid #DDD;
  background-color: #DDD;
  color: #FFF;
  border-radius: 20px;
  margin-left: 5px;
}
.aside-pagination .current {
  font-style: normal;
  font-weight: bold;
  background: #2e6ab1;
  color: white;
  border: 1px solid #2e6ab1;
}
.aside-pagination a {
  text-decoration: none;
  color: #FFF;
  border-radius: 20px;
  background-color: #949494;
}
.aside-pagination a:hover, .aside-pagination a:focus {
  background-color: #757575;
  color: #FFF;
  border: 2px solid #757575;
}


/* Button "I Like this song" - Friend/Show */

.btn-friend-song {
position: relative;
color: #757575;
font-size: 1.5em;
text-transform: uppercase;
display: block;
font-weight: bold;
padding-top: 10px;
padding-bottom: 10px;
text-align: center;
transition: background-color 0.3s ease 0s;
}
.btn-friend-song:hover {
color: rgb(252, 98, 34);
}


/* Friends - Navbar */

.friend-box {
margin-top: 10px;
padding: 10px 10px;
background-color: rgba(255, 255, 255, 0.7);
border: 0.5px solid rgba(230, 230, 230, 0.5);
box-shadow: 1px 1px 10px #E6E6E6;
}
.photo-fb{
border-radius: 5px;
}
.name-fb {
font-family: 'Quicksans', sans-serif;
font-size: 18px;
line-height: 25px;
margin-left: 5px;
color: #6F676C;
}
.name-fb:hover {
color: #454043;
}

