// Place all the styles related to the sources controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* Index */


.music-table {
  padding: 10px 5px;
  border: 0.5px solid rgb(252,98,34);
}

.music-image {
  border-radius: 3px;
  margin-bottom: 7px;
}

.music-table h3 {
  margin-top: 10px;
  font-size: 18px;
}

.music-table h4 {
  font-size: 14px;
  font-weight: lighter;
}

.btn-create-playlist {
  float: left;
  margin-top: -2px;
  margin-left: 30px;
  background-color: #FFF;
  border: 1px solid rgb(252,98,34);
  border-radius: 10px;
}

.btn-add-playlist {
  background-color: #FFF;
  border: 1px solid rgb(252,98,34);
  border-radius: 50%;
  color: rgb(252,98,34);
}

.music-title {
  margin-bottom: 2px;
}

/* Show */

.player {
  padding-top: 100px;
}

.music-list {
  overflow: scroll;
  height: 85%;
  border: solid rgb(252, 98, 34) 1px;
}

.music-list img {
  float: left;
  border-radius: 3px;
  margin-bottom: 10px;
}

.music-list h3, .music-list h4 {
  padding-left: 140px;
}

.music-list h3 {
  margin-top: 7px;
  font-size: 14px;
}

.music-list h4 {
  font-size: 12px;
  font-weight: lighter;
}