// Place all the styles related to the sources controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.welcome-name {
  color: rgb(252, 98, 34);
  padding-top: 15px;
  padding-right: 15px;
}

.welcome-photo {
  padding-top: 5px;
  margin-right: 15px;
  border-radius: 50%;
}

.flow-aside {
  margin-top:90px;
  border-radius: 5px;
}

.flow img {
  float: left;
  border-radius: 3px;
  margin-bottom: 20px;
}

.flow h3, .flow h4 {
  padding-left: 200px;
}

.flow h3 {
  font-size: 18px;
}

.flow h4 {
  font-size: 14px;
  font-weight: lighter;
}

.aside {
  height: 90%;
  background-color: beige;
}